streamlit
numpy
pandas
scikit-learn
dlib; sys_platform != 'win32'
dlib-bin; sys_platform == 'win32'
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0
supabase
bcrypt
segno
pillow
librosa
resemblyzer